.app {
    --c-tomato: #F87070;
    --c-cyan: #70F3F8;
    --c-purple: #D881F8;
    --c-light: #D7E0FF;
    --c-blue: #1E213F;
    --c-white: #FFFFFF;
    --c-gray: #EFF1FA;
    --c-dark: #161932;

    --color-bg: var(--c-blue);
    --color-font: var(--c-light);
}
