.flex {
    display: flex;
}

.align-center {
    justify-content: center;
}

.align-between {
    justify-content: space-between;
}

.align-around {
    justify-content: space-around;
}

.valign-center {
    align-items: center;
}

.flex-on-desktop {
    display: flex;
}

@media (max-width: 500px) {
    .flex-on-desktop {
        display: block;
    }
}
