* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

button, input, textarea {
    font: inherit;
    color: inherit;
    outline: none;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
}

ul, ol {
    list-style-type: none;
}

h1 {
    font-size: 100px;
    line-height: 100px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-right: -15px; // fix last letter spacing
}

h4 {
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: -5px;
}

// helpers classes

.relative {
    position: relative;
}

.w-100 {
    width: 100%;
}

.mb-4 {
    margin-bottom: 20px;
}

.mr-4 {
    margin-right: 20px;
}

.mr-3 {
    margin-right: 15px;
}

@media (max-width: 500px) {
    .mb-2-m {
        margin-bottom: 10px;
    }

    h1 {
        font-size: 80px;
        line-height: 80px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 14px;
        line-height: 14px;
    }
}
