.x-number {
    display: block;
    color: var(--c-blue);

    &__placeholder {
        font-size: 12px;
        color: var(--c-blue);
        opacity: .4;
        text-transform: lowercase;
        transition: 100ms opacity;
    }

    &__field {
        position: relative;
        padding: 15px;
        background: var(--c-gray);
        border-radius: 10px;
        transition: 200ms;
    }

    &__field input {
        width: 100%;
        border: none;
        background: transparent;
    }

    &__spinner {
        position: absolute;
        right: 15px;
        top: 7px;

        display: flex;
        flex-direction: column;

        &-down {
            transform: rotateX(180deg);
        }
    }

    &:hover &__placeholder, &--focus &__placeholder {
        opacity: .8;
    }

    &--focus &__field {
        box-shadow: 0 5px 10px rgba(30, 33, 63, .2);
    }
}

@media (max-width: 500px) {
    .x-number {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
