.settings {
    position: relative;

    &__top {
        display: flex;
        justify-content: space-between;
        padding: 30px 40px;
        border-bottom: 1px solid #E3E1E1;
    }

    &__content {
        padding: 0 40px 30px 40px;
    }

    &__item {
        padding: 25px 0;
        border-bottom: 1px solid rgba(22, 25, 50, .1);

        &:last-of-type {
            border-bottom: none;
        }
    }

    &__button {
        display: flex;
        justify-content: center;

        position: absolute;
        left: 0;
        bottom: -25px;
        width: 100%;
    }
}
